<!--<div class="container">-->
<!--<div class="nav navbar-left contentmenu">-->
  <!--<ul>-->
    <!--<li  class="links"><a href="index.html">Latest Activity</a></li>-->
    <!--<li  class="links"><a href="About.html">Profile</a></li>-->
    <!--<li  class="links"><a href="Videos.html">Videos</a></li>-->
    <!--<li  class="links"><a href="Images.html">Images</a></li>-->
  <!--</ul>-->
<!--</div>-->
<!--</div>-->
<div class="container col-md-2">
  <div class="row contentmenu">
    <div class="col-md-10">
      <div class="tab-pane">

        <div class="col-md-2">
          <ul class="nav nav-pills nav-stacked color">
            <li class="active"><a href="#" role="tab">Buffet Type</a></li>
            <li><%= link_to 'Packed Meal', catering_packedmeal_path %></li>
            <li><%= link_to 'Cocktail Type', catering_cocktail_url %></li>
          </ul>
        </div>
        <div id="menu_tabs_ui_panel">
          <!--<div class="menu_inclusions_col">-->
            <div class="menu_tab_panel">
              <div class="menu_inclusions_row">
                <div class="menu_inclusions_cell">
                  <div id="buffet_type_title_and_inclusions">
                    <div id="buffet_type_title">BUFFET TYPE SERVICES: P230 / person</div>
                    <div id="buffet_type_inclusions_info">
                      <div>
                        <ul>
                          <li>One (1) Appetizer / Salad</li>
                          <li>Five (5) Entr&eacute;e&#8217;s</li>
                          <li>One (1) Dessert</li>
                        </ul>
                      </div>
                      <div>
                        <ul>
                          <li>One (1) Choice of Rice</li>
                          <li>One (1) Bottled Soft drink / person</li>
                          <li>Purified Water</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="menu_inclusions_row">
                <div class="menu_inclusions_cell">
                  <div class="menu_inclusions_col">
                    <div class="menu_inclusions_title_div">
                      <span>1 Appetizer</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="menu_inclusions_row">
                <div class="menu_inclusions_cell">
                  <div class="menu_inclusions_col">
                    <div class="menu_inclusions_short_desc_div">
                      Select your favorite appetizer...
                    </div>
                    <div class="inclusions_menu_div">
                      <fieldset>
                        <div id="col1">
                          <ul>
                            <li>Fresh Lumpia</li>
                            <li>Chicken Macaroni Salad</li>
                          </ul>
                        </div>
                        <div id="col2">
                          <ul>
                            <li>Mixed Vegetable Salad</li>
                            <li>Potato Apple Salad</li>
                          </ul>
                        </div>
                        <div id="col3">
                          <ul>
                            <li>Shell Macaroni Salad</li>
                            <li>Ubod Pineapple Salad</li>
                          </ul>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </div>

              <div class="menu_inclusions_row">
                <div class="menu_inclusions_cell">
                  <div class="panel_hz_divider"></div>
                </div>
              </div>

              <div class="menu_inclusions_row">
                <div class="menu_inclusions_cell">
                  <div class="menu_inclusions_col">
                    <div class="menu_inclusions_title_div">
                      <span>5 Entr&eacute;e&#8217;s</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="menu_inclusions_row">
                <div class="menu_inclusions_cell">
                  <div class="menu_inclusions_col">
                    <div class="menu_inclusions_short_desc_div">
                      Your choice of 5 main dishes from our menu, pork, chicken, fish, beef, noodles, seafoods, vegetables, and others...
                    </div>
                  </div>
                </div>
              </div>

              <div class="menu_inclusions_row">
                <div class="menu_inclusions_cell">
                  <div id="main_course" class="menu_inclusions_col">
                    <div id="main_courses_row1">
                      <div id="col1">
                        <fieldset>
                          <div class="buffet_title">PORK</div>
                          <div>
                            <ul>
                              <li>Braised Pork (Humba)</li>
                              <li>Grilled Pork Chop w/ Mushroom Sauce</li>
                              <li>Pork Asado</li>
                              <li>Pork Embutido</li>
                              <li>Pork Menudo</li>
                              <li>Shredded Pork</li>
                              <li>Stir Fry Pork</li>
                              <li>Sweet and Sour Pork</li>
                              <li>Pork Ribs in Barbecue Sauce</li>
                              <li>Cabbage Rolls</li>
                            </ul>
                          </div>
                        </fieldset>
                      </div>
                      <div id="col2">
                        <fieldset>
                          <div class="buffet_title">CHICKEN</div>
                          <div>
                            <ul>
                              <li>Buttered Chicken</li>
                              <li>Chicken Chunk with Honey</li>
                              <li>Chicken Lollipop</li>
                              <li>Chicken Pandan</li>
                              <li>Chicken Pork Adobo</li>
                              <li>Chicken Relleno</li>
                              <li>Chicken Roll w/ Ham &amp; Butter</li>
                              <li>Chicken Steak Fillet</li>
                              <li>Fried Chicken w/ Sesame Seeds & Gravy</li>
                              <li>Lemon Chicken</li>
                              <li>Chicken Boxing Wings (Sweet &amp; Spicy)</li>
                              <li>Grilled Chicken Teriyaki</li>
                            </ul>
                          </div>
                        </fieldset>
                      </div>
                      <div id="col3">
                        <fieldset>
                          <div class="buffet_title">SEAFOODS</div>
                          <div>
                            <ul>
                              <li>Fish Fillet with Chili Sauce</li>
                              <li>Fish Fillet with Corn Sauce</li>
                              <li>Fish Fillet with Tar-Tar Sauce</li>
                              <li>Fish Roll w/ Bacon & Cheese</li>
                              <li>Shrimp Balls</li>
                              <li>Shrimp Rolls</li>
                              <li>Steamed Fish Fillet w/ Ham & Black Mushroom</li>
                              <li>Steamed Fish with Mayo</li>
                              <li>Fish Fillet in Chili Bean Paste Sauce</li>
                              <li>Sweet and Sour Fish</li>
                              <li>Steamed Fish Fillet w/ Lemon & Butter Sauce</li>
                            </ul>
                          </div>
                        </fieldset>
                      </div>
                    </div>
                    <div id="main_courses_row2">
                      <div id="col1">
                        <fieldset>
                          <div class="buffet_title">BEEF</div>
                          <div>
                            <ul>
                              <li>Beef Caldereta</li>
                              <li>Beef Tips in Oyster Sauce</li>
                              <li>Beef with Broccoli</li>
                              <li>Beef with Mashed Potatoes</li>
                              <li>Beef with Mushroom</li>
                              <li>Beef with Onions</li>
                              <li>Braised Beef or Camto</li>
                              <li>Callos</li>
                              <li>Mango Beef</li>
                              <li>Stif Fry Beef</li>
                              <li>Lengua Estofado</li>
                            </ul>
                          </div>
                        </fieldset>
                      </div>
                      <div id="col2">
                        <fieldset>
                          <div class="buffet_title">NOODLES</div>
                          <div>
                            <ul>
                              <li>Baked Macaroni</li>
                              <li>Bam-i Guisado</li>
                              <li>Beef Lasagna</li>
                              <li>Chicken Lasagna</li>
                              <li>Pasta Carbonara</li>
                              <li>Chow Mien</li>
                              <li>Fettuccini Ala Calza</li>
                              <li>Beef Stroganoff</li>
                              <li>Seafood Casserole</li>
                              <li>Sotanghon Guisado</li>
                              <li>Spaghetti</li>
                            </ul>
                          </div>
                        </fieldset>
                      </div>
                      <div id="col3">
                        <fieldset>
                          <div class="buffet_title">VEGGIES / OTHERS</div>
                          <div>
                            <ul>
                              <li>Chao Pat Chin</li>
                              <li>Four Seasons Vegetables</li>
                              <li>Saut&eacute;ed Vegetables</li>
                              <li>Three Kinds of Mushrooms</li>
                              <li>Calderetang Kambing</li>
                            </ul>
                          </div>
                        </fieldset>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="menu_inclusions_row">
                <div class="menu_inclusions_cell">
                  <div class="panel_hz_divider"></div>
                </div>
              </div>

              <div class="menu_inclusions_row">
                <div class="menu_inclusions_cell">
                  <div class="menu_inclusions_col">
                    <div class="menu_inclusions_title_div">
                      <span>1 Dessert</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="menu_inclusions_row">
                <div class="menu_inclusions_cell">
                  <div class="menu_inclusions_col">
                    <div class="menu_inclusions_short_desc_div">
                      Your choice of our mouthwatering desserts...
                    </div>
                    <div class="inclusions_menu_div">
                      <fieldset>
                        <div id="col1">
                          <ul>
                            <li>Tropical Fresh Fruits</li>
                            <li>Mango Pandan Salad</li>
                            <li>Mango Pandan Gelatin</li>
                            <li>Mango Mousse</li>
                          </ul>
                        </div>
                        <div id="col2">
                          <ul>
                            <li>Fruit Salad</li>
                            <li>Black Sambo</li>
                            <li>Leche Flan</li>
                            <li>Maja Blanca</li>
                          </ul>
                        </div>
                        <div id="col3">
                          <ul>
                            <li>Petche Petche</li>
                            <li>Custard Cake</li>
                            <li>Cassava Cake</li>
                            </ul>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </div>

              <div class="menu_inclusions_row">
                <div class="menu_inclusions_cell">
                  <div class="panel_hz_divider"></div>
                </div>
              </div>

              <div class="menu_inclusions_row">
                <div class="menu_inclusions_cell">
                  <div class="menu_inclusions_col">
                    <div class="menu_inclusions_title_div">
                      <span>Rice</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="menu_inclusions_row">
                <div class="menu_inclusions_cell">
                  <div class="menu_inclusions_col">
                    <div class="inclusions_menu_div">
                      <fieldset>
                        <div id="col1">
                          <ul>
                            <li>Plain Rice</li>
                          </ul>
                        </div>
                        <div id="col2">
                          <ul>
                            <li>Shanghai Rice</li>
                          </ul>
                        </div>
                        <div id="col3">
                          <ul>
                            <li>Garlic Rice</li>
                          </ul>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </div>

              <div class="menu_inclusions_row">
                <div class="menu_inclusions_cell">
                  <div class="panel_hz_divider"></div>
                </div>
              </div>

              <div class="menu_inclusions_row">
                <div class="menu_inclusions_cell">
                  <div class="menu_inclusions_col">
                    <div class="menu_inclusions_title_div">
                      <span>Amenities</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="menu_inclusions_row">
                <div class="menu_inclusions_cell">
                  <div class="menu_inclusions_col">
                    <div class="inclusions_menu_div">
                      <fieldset>
                        <div id="col1">
                          <ul>
                            <li>One Free Buffet Tent</li>
                            <li>Uniformed Waiters</li>
                          </ul>
                        </div>
                        <div id="col2">
                          <ul>
                            <li>Simple Table Centerpieces</li>
                            <li>Stainless Tray for the Lechon</li>
                          </ul>
                        </div>
                        <div id="col3">
                          <ul>
                            <li>Buffet Set-Up with Centerpieces</li>
                            <li>Guest Tables & Chairs</li>
                          </ul>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </div>


              <div class="menu_inclusions_row">
                <div class="menu_inclusions_cell">
                  <div class="panel_hz_divider"></div>
                </div>
              </div>

              <div class="menu_inclusions_row">
                <div class="menu_inclusions_cell">
                  <div class="menu_inclusions_col">
                    <div class="menu_inclusions_title_div">
                      <span>Optional Charges</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="menu_inclusions_row">
                <div class="menu_inclusions_cell">
                  <div class="menu_inclusions_col">
                    <div class="inclusions_menu_div">
                      <fieldset>
                        <div id="col1">
                          <ul>
                            <li>Tents for Reception
                              <ul>
                                <li>Red Carpet</li>
                              </ul>
                            </li>
                            <li>Packed Meals</li>
                            <li>Ceiling Decor</li>
                          </ul>
                        </div>
                        <div id="col2">
                          <ul>
                            <li>Food Orders</li>
                            <li>Cocktail Tables</li>
                            <li>Tiffany Cahirs</li>
                          </ul>
                        </div>
                        <div id="col3">
                          <ul>
                            <li>Wine Glasses</li>
                            <li>Floral Arrangements</li>
                            <li>Kid's Table and Chairs</li>
                          </ul>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </div>



            </div>
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-4">
        <img src="/assets/logo.png" alt=#" style="width: 150px; height: 50px; margin-left: -40px; margin-top: 15px"/>
      </div>
      <div class="col-md-4 center-block">
        <p> All rights reserved <br/> Copyright &copy; infinity@yahoo.com  2015</p>
      </div>
      <div class="col-md-4">
        <img src="/assets/head.png" alt="" style="width: 150px; height: 50px; margin-left: 220px; margin-top: 15px"/>
      </div>
    </div>
  </div>
</div>

