<div class="container">
<<<<<<< HEAD
<div class="contentcontact">
  <div id="main_content">
    <div id="main_content_top_div"></div>
    <div id="main_content_middle_div">
      <div class="col1">
        <div id="menu_page_intro_div">
          <div class="page_title">Contact Us</div>
        </div>

        <div id="contact_div">
          <div id="contact_info">
            <div class="subtitle">Office Address</div>
            <div id="header_info">
              #221 San Roque Street Lipata Minglanilla Cebu Philippines 6046<br />
              <a href="downloads/sheentrade_calza_office.pdf" target="_blank" id="view_map_location"> View Office Map</a>
            </div>
          </div>

          <div id="contact_info">
            <div class="subtitle">Phone Numbers</div>
            <div id="header_info">
              <div id="contact_info_img"></div>
              <div id="contact_info_detail">
                <ul>
                  <li>(+63) (32) 490 6605</li>
                  <li>(+63) (32) 272 4716</li>
                  <li>(+63) (32) 272 6971</li>
                </ul>
              </div>
            </div>
          </div>

          <div id="contact_info">
            <div class="subtitle">Telefax</div>
            <div id="header_info">
              <div id="contact_info_img"></div>
              <div id="contact_info_detail">
                <ul>
                  <li>(+63) (32) 272 4917</li>
                </ul>
              </div>
            </div>
          </div>

          <div id="contact_info">
            <div class="subtitle">Email Us</div>
            <div id="email_add"><ul><li>info@infinitycatering.com</li></ul></div>
            <div id="header_info">
              <form name="frmContact" method="post" action="administration/processes/email_contact_us_form.html?cmd=email_contact_us_form&amp;sid=gbe80e5d7mqtvk8u5d6svbpm33" onsubmit="return validate_form();">
                <div id="name-col">
                  <div class="form-label">Name:</div>
                  <div class="form-element">
                    <input type="text" size="51" name="txtName" value="" />
                  </div>
                </div>
                <div id="email-col">
                  <div class="form-label">Email:</div>
                  <div class="form-element">
                    <input type="text" size="51" name="txtEmail" value="" />
                  </div>
                </div>
                <div id="address-col">
                  <div class="form-label">Address:</div>
                  <div class="form-element">
                    <input type="text" size="51" name="txtAddress" value="" />
                  </div>
                </div>
                <div id="subject-col">
                  <div class="form-label">Subject:</div>
                  <div class="form-element">
                    <input type="text" size="51" name="txtSubject" value="" />
                  </div>
                </div>
                <div id="message-col">
                  <div class="form-label">Message:</div>
                  <div class="form-element" style="">
                    <textarea name="taMessage" cols="39" rows="5"></textarea>
                  </div>
                </div>
                <div id="btns-col">
                  <div class="form-label">&nbsp;</div>
                  <div class="form-element">
                    <div id="submit-btn-col"><input type="submit" value="Submit" name="btn_submit" /></div>
                    <div id="reset-btn-col"><input type="button" value="Reset" /></div>
                  </div>
                </div>

              </form>

            </div>
          </div>
        </div>
       </div>
      </div>
    </div>

  </div>

=======
    <div class="col-md-7 col-md-offset-1">
        <h1>Contact us</h1>
      <br/>
      <br/>
      <div style="height: 500px; width: 820px; overflow-y: scroll; overflow-x: hidden; margin-top: 1px">
        <h4>Office Address</h4>
        <img src="/assets/map.jpeg"/>
        <p>#123 Street Barangay Town/City, Province</p>
        <hr/>
        <h4>Phone numbers</h4>
        <div class="col-md-6">
          <img src="/assets/phone.png" alt=""/>
          <ul class="pull-right">
            <li>(123) (45) 345 6789</li>
            <li>(123) (45) 453 9678</li>
            <li>(123) (45) 534 7896</li>
          </ul>
        </div>
        <div class="row">
          <div class="col-md-12">
            <hr/>
          </div>
        </div>
        <h4>Telefax</h4>
        <div class="col-md-6">
          <img src="/assets/fax.png" alt=""/>
          <ul class="pull-right">
            <li>(123) (45) 534 7890</li>
          </ul>
        </div>
        <div class="row">
          <div class="col-md-12">
            <hr/>
          </div>
        </div>
      </div>

    </div>

  <div class="col-md-2  col-md-offset-1 well" style="border-radius: 0px 0px 0px 50px; margin-top: 80px">
    <h3 style="text-align: center; margin-bottom: 30px">Keep in Touch!</h3>
    <h5>Infinity Online Catering Services</h5>
    <p>#123 Street Barangay <br/> Town/City, Province</p>
    <p>(123) 345 6789</p>
    <p>(123) 453 9678</p>
    <p>(123) 534 7896</p>
    <button>Click Here <br/> to Download all Menu</button>
  </div>
</div>
<div class="container">
  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-4">
      <img src="/assets/logo.png" alt=#" style="width: 150px; height: 50px; margin-left: -40px; margin-top: 15px"/>
    </div>
    <div class="col-md-4 center-block">
      <p> All rights reserved <br/> Copyright &copy; infinity@yahoo.com  2015</p>
    </div>
    <div class="col-md-4">
      <img src="/assets/head.png" alt="" style="width: 150px; height: 50px; margin-left: 220px; margin-top: 15px"/>
    </div>
  </div>
>>>>>>> e2a22ab136a85b05f218949581e4a2d98bbb073e
</div>