<!DOCTYPE html>
<html>
<head>
  <title>OnlineCatering</title>
  <link rel="Shortcut Icon" href="/assets/ico.png" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', media: 'all','data-turbolinks-track' => true%>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse"
            data-target="#NavbarToggle">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-header">
          <a href="#" class="navbar-brand"
            data-toggle="tooltip"
            data-placement="right"
            title="Infinity Online Catering Services!">
            <img src="/assets/logo.png" alt="images" class="logo"/>
          </a>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="NavbarToggle">
        <ul class="nav navbar-nav">
          <li class="navborder"><%= link_to 'Home', catering_index_path %></li>
          <li class="navborder"><%= link_to 'Menu',catering_menu_path %></li>
          <li class="navborder"><%= link_to 'Amenities',catering_amenities_path %></li>
          <li class="navborder"><%= link_to 'Gallery', catering_gallery_path %></li>
          <li class="navborder"><%= link_to 'About us', catering_about_path %></li>
          <li class="navborder"><%= link_to 'Contact us', catering_contact_path %></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <li class="navborder"><%= link_to 'Register', catering_Register_url %></li>
          <li class="navborder"><%= link_to 'Login', catering_login_url %></li>
        </ul>
      </div>

    </nav>

<%= yield %>

</body>
</html>
